version: '3.8'

services:
  router:
    build: ./router
    ports:
      - "5000:5000"
    networks:
      - app-network

  java-executor:
    build: ./java-executor
    ports:
      - "5001:5001"
    networks:
      - app-network

  python-executor:
    build: ./python-executor
    ports:
      - "5002:5002"
    networks:
      - app-network

  dart-executor:
    build: ./dart-executor
    ports:
      - "5003:5003"
    networks:
      - app-network

  client:
    build: ./client
    ports:
      - "5004:5004"
    depends_on:
      - router
    networks:
      - app-network

networks:
  app-network:
    driver: bridge